@font-face {
  font-family: 'NATS';
  src:url('/src/fonts/NATS.ttf.woff') format('woff'),
      url('/src/fonts/NATS.ttf.svg#NATS') format('svg'),
      url('/src/fonts/NATS.ttf.eot'),
      url('/src/fonts/NATS.ttf.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: rgb(250, 245, 239);
}

.App {
  text-align: center;
}

.name {
  font-family: 'NATS';
}

