@font-face {
  font-family: 'NATS';
  src:url('/src/fonts/NATS.ttf.woff') format('woff'),
      url('/src/fonts/NATS.ttf.svg#NATS') format('svg'),
      url('/src/fonts/NATS.ttf.eot'),
      url('/src/fonts/NATS.ttf.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Broadsheet-LDO';
  src:url('/src/fonts/Broadsheet-LDO.ttf.woff') format('woff'),
      url('/src/fonts/Broadsheet-LDO.ttf.svg#Broadsheet-LDO') format('svg'),
      url('/src/fonts/Broadsheet-LDO.ttf.eot'),
      url('/src/fonts/Broadsheet-LDO.ttf.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}


body {
  background-color: rgb(250, 245, 239);
}

.Intro {
  padding: 5em;
  font-family: 'NATS';
}

.firstname p {
  font-weight: semi-bold;
  font-size: 6em;
  margin-bottom: 0.5em;
}

.lastname p {
  font-size: 6em;
  font-weight: semi-bold;
  margin-top: -2em;
  margin-left: -.05em;
  margin-bottom: 1em;
}

.intro-desc {
  font-family: 'Broadsheet-LDO';
  font-size: 2em;
  margin-top: -2em;
}



