@font-face {
  font-family: 'NATS';
  src:url('/src/fonts/NATS.ttf.woff') format('woff'),
      url('/src/fonts/NATS.ttf.svg#NATS') format('svg'),
      url('/src/fonts/NATS.ttf.eot'),
      url('/src/fonts/NATS.ttf.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Broadsheet-LDO';
  src:url('/src/fonts/Broadsheet-LDO.ttf.woff') format('woff'),
      url('/src/fonts/Broadsheet-LDO.ttf.svg#Broadsheet-LDO') format('svg'),
      url('/src/fonts/Broadsheet-LDO.ttf.eot'),
      url('/src/fonts/Broadsheet-LDO.ttf.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}


body {
  background-color: rgb(250, 245, 239);
}

.Intro {
  padding: 5em;
  font-family: 'NATS';
}

.firstname p {
  font-weight: semi-bold;
  font-size: 6em;
  margin-bottom: 0.5em;
}

.lastname p {
  font-size: 6em;
  font-weight: semi-bold;
  margin-top: -2em;
  margin-left: -.05em;
  margin-bottom: 1em;
}

.intro-desc {
  font-family: 'Broadsheet-LDO';
  font-size: 2em;
  margin-top: -2em;
}

.About {
  padding-left: 5em;
  padding-right: 5em;
}

.About h1 {
  font-size: 5em;
  font-family: 'NATS';
}
.About {
  position: absolute;
}

.About:after {
  content:'';
  background: url('./Images/allene-bw.jpg') no-repeat center;
  background-size: cover;
  position: absolute;
  top:0px;
  left: 0px;
  width:100%;
  height:100%;
  z-index:-1;
  opacity: 0.17; /* Here is your opacity */
}
.About p {
  font-family: 'Broadsheet-LDO';
  font-size: 2em;
  line-height: 125%;
}

.Tech {
  padding-left: 5em;
  padding-right: 5em;
  text-align: center;
}

.Tech h1 {
  font-size: 5em;
  font-family: 'NATS';
  margin-bottom: 0%;
}

table {
  margin: auto;
  table-layout: fixed;
  width: 100%;
}

th {
  font-family: 'NATS';
  font-weight: 800;
  font-size: 3em;
  text-decoration: underline;
  /* padding-right: 3em; */
}

td {
  font-family: 'Broadsheet-LDO';
  font-size: 2.5em;
  /* padding-right: 3em; */
}

.Projects {
  padding-left: 5em;
  padding-right: 5em;
  text-align: center;
  display: flex;
}

.project-bar p {
  font-size: 5em;
  font-family: 'NATS';
  margin: 0%;
}

.show-project p {
  font-size: 5em;
  font-family: 'NATS';
  margin: auto;
}

.Projects .project-desc p {
  font-family: 'Broadsheet-LDO';
  font-size: 1.5em;
  line-height: 125%;
  text-align: left;
  padding-top: 15%;
}

.project-bar {
  text-align: left;
  flex: 1;
  padding-right: 10%;
}

.project-disp {
  flex: 1;
}

ul {
  list-style-type: none;
}

.project-btn {
  outline: none;
  border:none;
  background-color: transparent;
  cursor: pointer;
  padding: 1em;
  font-family: 'Broadsheet-LDO';
  font-size: 2em;
}

.project-btn:hover {
  color: rgb(11, 73, 58);
  transition-duration: 500ms;
}

.gif {
  width: 65%;
}

.project-logo {
  width: 200px;
}
